.container {
  width: 90%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.weatherCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 20px;
}

.weatherCard h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

.weatherLeft {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.weatherTemp {
  font-size: 40px;
  font-weight: 950;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
}

.weatherDesc {
  font-size: 15px;
  color: #666666;
  text-align: center;
}

.weatherDivider {
  width: 100%;
  height: 2px;
  background: #ececec;
}

.weatherRight {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  font-weight: 600;
}

.aqiCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 20px;
}

.aqiCard h3 {
  text-align: center;
  font-size: 22px;
  font-weight: 800;
}

.aqiHeader {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}

.aqiValue {
  font-size: 40px;
  font-weight: 950;
  margin-top: 5px;
  text-align: center;
}

.aqiPollutant {
  color: #666666;
  font-size: 15px;
  text-align: center;
}

.aqiDivider {
  width: 100%;
  height: 2px;
  background: #ececec;
}

.aqiFooter {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px;
}
