@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-ExtraBlack.ttf") format("truetype");
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: "IRANSansX";
  src: url("/font/IRANSansX-Black.ttf") format("truetype");
  font-weight: 1000;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IRANSansX", sans-serif;
}

body {
  background: #F9FAFC;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

a,
button {
  all: unset;
  cursor: pointer;
}
