.container {
  display: grid;
  grid-template-columns: 25% 1fr 25%;
  gap: 1rem;
  width: 100%;
  padding: 20px;
  margin-top: 80px;
}

.col {
  padding: 10px;
  border-radius: 8px;
}

.financial {
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  background: #ffffff;
  padding: 0;
  position: sticky;
  top: 110px;
}

.financialTitle {
  position: sticky;
  top: 0;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  z-index: 10;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 20px 20px 0 0;
}

.financialRows {
  height: 400px;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 10px;
}

.financialRows::-webkit-scrollbar {
  background: transparent;
  width: 5px;
}

.financialRows::-webkit-scrollbar-thumb {
  background: #f2f2f2;
  border-radius: 20px;
}

.financialRows::-webkit-scrollbar-button {
  visibility: hidden;
  height: 20px;
}

.row {
  display: grid;
  grid-template-columns: 40% 20% 40%;
  align-items: center;
  padding: 10px;
}

.price {
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

.price span {
  font-size: 10px;
  font-weight: 400;
}

.change {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  direction: ltr;
}

.up {
  color: green;
}

.down {
  color: red;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 7px;
  font-size: 14px;
  font-weight: 600;
}

.weatherCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  width: 100%;
  position: sticky;
  top: 110px;
}

.weatherLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 800;
}

.weatherLeft span {
  font-size: 14px;
  font-weight: 400;
}

.weatherLeft p {
  margin-bottom: -5px;
}

.weatherDivider {
  width: 2px;
  height: 25px;
  background: #e5e5e5;
}

.weatherRight {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
}

.weatherRight span {
  font-size: 12px;
  font-weight: 500;
  color: #666666;
}

.newsTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 20px;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  width: 100%;
}

.newsTitle h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 800;
}

.newsTitleDivider {
  width: 2px;
  height: 25px;
  background: #e5e5e5;
}

.newsTitle span {
  font-size: 16px;
  font-weight: 500;
  color: #676767;
}

.newsList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.newsCard {
  width: 100%;
  background: #ffffff;
  border-radius: 20px;
  border: 1px solid #f2f2f2;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.newsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.category {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 10px;
  padding: 0 15px;
  height: 32px;
  font-size: 16px;
  margin-bottom: 20px;
}

.bgSport {
  background-color: rgba(255, 140, 0, 0.1);
}

.bgArt {
  background-color: rgba(186, 85, 211, 0.1);
}

.bgPolitics {
  background-color: rgba(30, 144, 255, 0.1);
}

.bgEconomy {
  background-color: rgba(34, 139, 34, 0.1);
}

.bgHealth {
  background-color: rgba(220, 20, 60, 0.1);
}

.bgDefault {
  background-color: rgba(128, 128, 128, 0.05);
}

.newsShare {
  margin-top: -20px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.3s ease;
  z-index: 1000;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  animation: scaleIn 0.3s ease;
}

.fadeOut {
  animation: fadeOut 0.3s forwards;
}

.scaleOut {
  animation: scaleOut 0.3s forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes scaleOut {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.8);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.shareButtons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
}

.shareButtons a {
  padding: 8px 12px;
  border-radius: 6px;
  color: #333;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
}

.shareIcon {
  width: 70px;
  height: 70px;
  padding: 20px;
  border-radius: 15px;
}

.whatsapp {
  background: #effcf3;
}

.telegram {
  background: #edf6fb;
}

.linkedin {
  background: #edf0fb;
}

.copyLink {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  width: 500px;
}

.linkSection {
  width: 100%;
  background: #f4f4f5;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.linkSection button {
  margin-bottom: -5px;
  opacity: .8;
}

.linkInput {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  background: transparent;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  opacity: 0.8;
}

.linkInput::-webkit-scrollbar {
  display: none;
}

.linkSection::after {
  content: "";
  position: absolute;
  right: 45px;
  top: 10px;
  height: calc(100% - 20px);
  width: 40px;
  pointer-events: none;
  background: linear-gradient(to right, transparent, #f4f4f5);
  border-radius: 10px;
}

.linkInput:focus {
  outline: none;
  border: none;
}

.closeModal {
  border: none;
  cursor: pointer;
}

.newsImage {
  width: 100%;
}

.newsImage a img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.newsContent {
  width: 100%;
  text-align: start;
}

.newsContent h3 {
  color: #172554;
  font-size: 22px;
  font-weight: 800;
  margin-top: 10px;
}

.newsContent span {
  font-size: 12px;
  color: #94a3b8;
}

.newsContent p {
  color: #172554b3;
  font-size: 16px;
  margin-top: 10px;
}
