.header {
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-bottom: 1px solid #f2f2f2;
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
}

.headerLogo a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-weight: 900;
  font-size: 22px;
}

.headerLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.headerLinks a {
  background: #f4f4f5;
  border-radius: 10px;
  padding: 0 15px;
  height: 32px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  gap: 7px;
}

.headerLinksLatest a {
  background: #fbe3e1;
  font-weight: 600;
}

.headerLinksDivider {
  height: 32px;
  width: 3px;
  border-radius: 10px;
  background: #e5e5e5;
}

.headerLinksAll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
